<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
        <div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">PLayers</h3>
						<h5 class="panel-title"></h5>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
						
							</span>
						</div>
					</div>
					<div class="panel-body">
						
                    </div>
                    
					<table class="table table-hover" id="dev-table">
					
					<div>
						<input type="text" [(ngModel)]="searchName" placeholder="Search player by team">
					</div>
						<thead>
							<tr *ngIf="players.length > 0">
								<th>Name</th>
								<th>Team</th>
								<th>DOB</th>
                                <th>Age</th>
								<th>No of 4</th>
								<th>No of 6</th>
								<th>Others</th>
                            </tr>
						</thead>
						<tbody>
							<tr *ngFor = "let player of players | filter: searchName">
								<td>{{player.name}}</td>
								<td>{{player.team}}</td>
                                <td>{{player.dob}}</td>
                                <td>{{player.dob | agePipe}}</td>
                                <td>{{player.noOf4}}</td>
                                <td>{{player.noOf6}}</td>
                                <td>{{player.others}}</td>
							
                                
                                
                                
							</tr>
						</tbody>
					</table>
				</div>
            </div>
        </div>
    </div>